* {
  box-sizing: border-box;
}

:root {
  --cor1: #1304ee8a;
  --cor2: rgba(255, 255, 255, 0.986);
  --cor-fundo: #f0fdf4;
  --cor-texto-principal: #1f2937;
  --cor-campo-input: #d1fae5;
  --cor-borda-ativa: #34d399;
  --cor-botao: #10b981;
  --cor-botao-hover: #059669;
}

body {
  display: flex;
  justify-content: center;
  color: var(--cor-texto-principal);
}

main {
  background-color: var(--cor-fundo);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 1000px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.input-padrao {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--cor-campo-input);
}

.bloco-padrao,
.bloco-padrao-pai {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.bloco-padrao label {
  align-self: flex-start;
}

.area-sexo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.area-sexo input {
  width: 40%;
  height: 1rem;
  display: block;
  margin: auto;
}

.area-sexo > div > label {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.botao-buscar-cep {
  display: none;
}

.campo-faculdade {
  display: block;
}

.campo-faculdade--desativado {
  display: none;
}

.campo-escola {
  display: block;
}

.campo-escola--desativado {
  display: none;
}

.secao-habilidades div {
  gap: 2rem;
}

.secao-experiencia {
  gap: 3rem;
}

.secao-experiencia h2 {
  margin-bottom: -2rem;
}

.data-exp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.data-exp > div {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.data-exp .input-padrao {
  width: 100%;
  font-size: 0.8rem;
}

.texto-sobre {
  border-radius: 10px;
  background-color: var(--cor-campo-input);
}

.botao-gerar {
  width: 80%;
  height: 50px;
  max-width: 500px;
  font-size: 1.5rem;
  margin: 2rem;
  border-radius: 10px;
  border: none;
  background-color: var(--cor-botao);
  color: white;
  font-weight: bolder;
}

.botao-gerar:hover {
  background-color: var(--cor-botao-hover);
}

/*AQUI COMEÇA O CÓDIGO REFERENTE AO CURRICULO GERADO*/

.curriculo-gerado {
  display: none;
  text-align: left;
  font-size: 26px;
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}

.titulo-curriculo {
  font-size: 35px;
}

.titulo-curriculo,
.nome-curriculo {
  text-align: center;
}

.nome-curriculo {
  font-size: 30px;
}

.texto-sobre {
  width: 100%;
  height: 10rem;
}
