* {
  box-sizing: border-box;
}

:root {
  --cor1: #1304ee8a;
  --cor2: rgba(255, 255, 255, 0.986);
}

body {
  display: flex;
  justify-content: center;
}

main {
  background-color: var(--cor1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 900px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bolder;
}

.input-padrao {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}

.bloco-padrao {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.bloco-padrao label {
  align-self: flex-start;
}

.gap-1rem {
  gap: 1rem;
}

.area-sexo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.area-sexo input {
  width: 40%;
  height: 1rem;
  display: block;
  margin: auto;
}

.area-sexo > div > label {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.botao-buscar-cep {
  display: none;
}

.campo-faculdade {
  display: block;
}

.campo-faculdade--desativado {
  display: none;
}

.campo-escola {
  display: block;
}

.campo-escola--desativado {
  display: none;
}

.secao-experiencia {
  gap: 3rem;
}

.secao-experiencia h2 {
  margin-bottom: -2rem;
}

.data-exp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.data-exp > div {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.data-exp .input-padrao {
  width: 100%;
  font-size: 0.8rem;
}

.texto-sobre {
  border-radius: 10px;
}

.botao-gerar {
  width: 80%;
  height: 50px;
  max-width: 500px;
  font-size: 1.5rem;
  margin: 2rem;
  border-radius: 10px;
  border: none;
  background-color: var(--cor2);
  color: var(--cor1);
  font-weight: bolder;
}

/*AQUI COMEÇA O CÓDIGO REFERENTE AO CURRICULO GERADO*/

.curriculo-gerado {
  display: none;
  text-align: left;
  font-size: 26px;
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}

.titulo-curriculo {
  font-size: 35px;
}

.titulo-curriculo,
.nome-curriculo {
  text-align: center;
}

.nome-curriculo {
  font-size: 30px;
}

.texto-sobre {
  width: 100%;
  height: 10rem;
}
