* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

main {
  background-color: blueviolet;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}

div input {
  width: 90vw;
  max-width: 500px;
  height: 50px;
}

#area-sexo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#in-sexo input {
  width: 40%;
  height: 20px;
}

#area-dados-pessoais {
  display: block;
}

#facul-area {
  display: none;
}

#area-formacao {
  display: block;
  background-color: cornflowerblue;
}

#habilidade-area {
  display: block;
}

#experiencia-area {
  display: block;
}


.sobre__text {
  width: 90vw;
  height: 150px;
}

.container {
  display: none;
  text-align: left;
  font-size: 28px;
  width: 90%;
  margin: 0 auto;
}

.curriculum {
  font-size: 40px;
}

.curriculum, .nomeCurriculum {
  text-align: center;
}

#curriculo__sobremim {
  width: 100%;
}

